[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jieba = "*"
yapf = "*"
nltk = "*"
matplotlib = "*"
pyqt5 = "*"
argparse = "*"
zhon = "*"

[dev-packages]

[requires]
python_version = "3.10"
